{% extends 'blog/base.html' %}
{% load static %}
{% block title%}SIGNUP{% endblock title %}
{% block content %}

    <div class = "col-sm-10">
        <h2 class="text-dark text-center">Sign Up</h2>
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %}{% endif %} class="alert alert-primary text-center">{{message}}</p>
        {% endfor %}
        {% endif %}
        <form action = "" method = "POST" novalidate>
            {% csrf_token %}
            {% for fm in form %}
                <div class="form-group">
                    {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small>
                </div>
            {% endfor %}
            <input type = "submit" class = "btn btn-primary"/>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-4">{{error}}</p>
                {% endfor %}
            {% endif %}
    </div>
{% endblock content %}